<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638457389968-a8f70bm479v2p842rf1sa94865nveskh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638457389968-a8f70bm479v2p842rf1sa94865nveskh</string>
	<key>API_KEY</key>
	<string>AIzaSyAv-0tTNDupuddv7mtjEQ1HWxfObPvwI7o</string>
	<key>GCM_SENDER_ID</key>
	<string>638457389968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-4202f</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-4202f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638457389968:ios:09f9f84a29cdecefc98915</string>
</dict>
</plist>